
.form {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    }

/* .div{
    margin-bottom: 10px;
} */

h1{
    text-align: center;
    color: rgb(102, 76, 205);
    font-weight: bolder;
    font-size: 3rem;
}

.head{
    color: rgb(31, 148, 109);
}

button{
    color: rgb(0, 0, 0);
    width: 250px;
    height: 40px;
    font-weight:bolder;
    background-color: rgb(9, 162, 62);
    border-radius: 30px;
}
button:hover{
    background-color: rgb(84, 138, 103);
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto /* Adjust this value to center vertically within a specific container */
  }

.submit-btn{
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    font-weight:bolder;
    background-color: rgb(30, 154, 139);
    border-radius: 30px;
    margin-top: 30px;
    /* margin-left: 1px; */
}
.submit-btn:hover{
    background-color: rgb(95, 177, 167);
}


.firstName{
    margin-left: 10px;
    width: 250px;
}
.lastName{
    margin-left: 10px;
    width: 250px;
}

.email{
    margin-left: 10px;
    width: 250px;
}

.password{
    margin-left: 10px;
    width: 250px;
}

.confirmPassword{
    margin-left: 10px;
    width: 250px;
}







#firstChild{
    color: rgb(24, 24, 24);
    background-color: rgb(115, 191, 187);
    margin: 1rem;
    width: 93px;
    height: 30px;
}
#firstChild:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 143, 139);
}