<!-- 
<h1>Second Component</h1>

<button [routerLink]="['/']">Back to Second Component</button>
<br>
<br>
<button [routerLink]="['child-sa']" id="firstChild">Child A</button>
<button [routerLink]="['child-sb']" id="firstChild">Child B</button> -->

<router-outlet></router-outlet>

<!-- <br>
<br> -->

<div>
    <h1 class="head">Reactive Form</h1>

  <label for="color">Color
     <input type="text" [formControl]="color">
  </label>

  <p style="background-color: antiquewhite;">{{color.value}}</p>
  
</div>

<br>
<br>

<div>
    <h1 class="head">Template Driven Form</h1>

      <label for="name">Name
        <input type="text" [(ngModel)]="name">
      </label>

      <p style="background-color: antiquewhite;">{{name}}</p>
      
</div>
