<!--  -->

<div class="div">

  <h1 class="head">Reactive Form</h1>

  <!-- Show Real-time value -->
{{myForm.value | json}}
<br><br>

  <!-- Form -->
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <!-- First Name -->
    <label class="firstName" for="firstName">First Name:
        <input class="input-box" type="text" formControlName="firstName" required minlength="3" maxlength="31">

        <!-- First Name error msg -->
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
            <div *ngIf="firstName?.hasError('required')" class="err">
                First Name must be required
            </div>

            <div *ngIf="firstName?.hasError('minlength')" class="err">
                First Name must be atlest 3 characters
            </div>

            <div *ngIf="firstName?.hasError('maxlength')" class="err">
                First Name not more than 30 characters
            </div>
        </div>     

    </label>

<br>
<br>

    <!-- Last Name -->
    <label class="lastName" for="lastName">Last Name:
        <input class="input-box" type="text" formControlName="lastName" required minlength="3" maxlength="31">

        <!-- Last Name error msg -->
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
            <div *ngIf="lastName?.hasError('required')" class="err">
                Last Name must be required
            </div>

            <div *ngIf="lastName?.hasError('minlength')" class="err">
                Last Name must be atlest 3 characters
            </div>

            <div *ngIf="lastName?.hasError('maxlength')" class="err">
                Last Name not more than 30 characters
            </div>
        </div> 

    </label>
    
<br>
<br>

    <!-- Email -->
    <label class="email" for="email">Email:
        <input class="input-box" type="email" formControlName="email" required email>

        <!-- Email error msg -->
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.hasError('required')" class="err">
                Email must be required
            </div>

            <div *ngIf="email?.hasError('email')" class="err">
                Invadil Email
            </div>
        </div> 

    </label>
    
<br>
<br>

    <!-- Password -->
    <label class="password" for="password">Password:
        <input class="input-box" type="password" formControlName="password" required minlength="8" maxlength="31"> <!--  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$" -->

        <!-- Password error msg -->
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="errDiv">
            <div *ngIf="password?.hasError('required')" class="err">
                Password must be required
            </div>

            <div *ngIf="password?.hasError('minlength')" class="err">
                Password must be atlest 8 characters
            </div>

            <div *ngIf="password?.hasError('maxlength')" class="err">
                Password not more than 30 characters
            </div>

            <div *ngIf="password?.hasError('pattern')" class="err2">
                Must contain one capital letter and number
              </div>
        </div> 

    </label>
    
<br>
<br>

    <!-- Confirm Password -->
    <label class="confirmPassword" for="confirmPassword">Confirm Password:
        <input class="input-box" type="password" formControlName="confirmPassword" required minlength="8" maxlength="31"> <!--  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$" -->

        <!-- Password error msg -->
        <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="errDiv">
            <div *ngIf="confirmPassword?.hasError('required')" class="err">
                Confirm Password must be required
            </div>

            <div *ngIf="confirmPassword?.hasError('minlength')" class="err">
                Confirm Password must be atlest 8 characters
            </div>

            <div *ngIf="confirmPassword?.hasError('maxlength')" class="err">
                Confirm Password not more than 30 characters
            </div>

            <div *ngIf="confirmPassword?.hasError('pattern')" class="err3">
                Must contain one capital letter and a number
              </div>

              <div *ngIf="confirmPassword?.hasError('passwordMismatch')" class="err3">
                Password and Confirm Password do not match
              </div>
              

        </div> 

    </label>
    
    <br>

    <!-- Submit Button -->
<div class="button-container">
    <button type="submit" class="submit-btn">Submit</button>
</div>

  </form>

<br><br>

</div>

<!-- Show Real-time value
{{myForm.value | json}} -->