
<router-outlet></router-outlet>



<h1>Reactive Form</h1>

<p style="text-align: center;">{{myForm.value | json}}</p>

<div class="div">


<!-- Form -->
<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  


  <!-- First Name -->
  <label for="firstName">First Name:
    <input type="text" id="firstName" name="firstName" formControlName="firstName" required minlength="3" maxlength="31" forbiddenNameValidator><br>

     <!-- First Name error msg -->
  <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
      <div *ngIf="firstName?.hasError('required')" class="err">
          First Name must be required
      </div>

      <div *ngIf="firstName?.hasError('forbiddenName')" class="err">
        First Name as "{{firstName?.errors?.['forbiddenName'].value}}" not allow
    </div>


      <div *ngIf="firstName?.hasError('minlength')" class="err">
          First Name must be atlest 3 characters
      </div>

      <div *ngIf="firstName?.hasError('maxlength')" class="err">
          First Name not more than 30 characters
      </div>
  </div>  
  </label>
  


  <!-- Last Name -->
  <label for="lastName">Last Name:
    <input type="text" id="lastName" name="lastName" formControlName="lastName" required minlength="3" maxlength="31" forbiddenNameValidator><br>

  <!-- Last Name error msg -->
  <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
      <div *ngIf="lastName?.hasError('required')" class="err">
          Last Name must be required
      </div>

      <div *ngIf="lastName?.hasError('forbiddenName')" class="err">
        Last Name as "{{lastName?.errors?.['forbiddenName'].value}}" not allow
    </div>

      <div *ngIf="lastName?.hasError('minlength')" class="err">
          Last Name must be atlest 3 characters
      </div>

      <div *ngIf="lastName?.hasError('maxlength')" class="err">
          Last Name not more than 30 characters
      </div>
  </div> 
  </label>
  

  <!-- Email -->
  <label for="email">Email:
    <input type="email" id="email" name="email" formControlName="email" required email><br>

  <!-- Email error msg -->
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div *ngIf="email?.hasError('required')" class="err">
          Email must be required
      </div>

      <div *ngIf="email?.hasError('email')" class="err">
          Invalid Email
      </div>
  </div> 
  </label>
  


  <!-- Password -->
  <label for="password">Password:
    <input type="password" id="password" name="password" formControlName="password" required minlength="8" maxlength="31"><br>


  <!-- Password error msg -->
  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="errDiv">
    <div *ngIf="password?.hasError('required')" class="err2">
        Password is required
    </div>

    <div *ngIf="password?.hasError('minlength')" class="err2">
        Password must be at least 8 characters
    </div>

    <div *ngIf="password?.hasError('maxlength')" class="err2">
        Password must not exceed 30 characters
    </div>

    <div *ngIf="password?.hasError('pattern')" class="err2">
      Password must contain at least one capital letter, one small letter, and a number
    </div>

    <div *ngIf="password?.hasError('pattern')" class="err2">
      No Special characters allow.
  </div>
</div>

  </label>
  


  <!-- Confirm Password -->
  <label for="confirmPassword">Confirm Password:
    <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required minlength="8" maxlength="31"><br>

  

  <!-- Confirm Password error msg -->
  <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="errDiv2">
      <div *ngIf="confirmPassword?.hasError('required')" class="err">
          Confirm Password must be required
      </div>
      
      <div *ngIf="confirmPassword?.errors?.['passwordMismatch']" class="err2">
          Passwords do not match !!!
      </div>
        
  </div> 
  </label>
  

  <div class="button-container">
    <button type="submit" class="submit-btn">Submit</button>
</div>

</form>

  <br>
<br>
</div>
 




<div style="text-align: center;">

<button [routerLink]="['/']">Go to Templete Driven Form</button>
<br>
<br>
<button [routerLink]="['child-sa']" id="firstChild">Child A</button>
<button [routerLink]="['child-sb']" id="firstChild">Child B</button>
</div>


<!-- <br>
<br> -->

<!-- 
<div>
    <h1 class="head">Reactive Form</h1>

  <label for="color">Color
     <input type="text" [formControl]="color">
  </label>

  <p style="background-color: antiquewhite;">{{color.value}}</p>
  
</div>

<br>
<br>

<div>
    <h1 class="head">Template Driven Form</h1>

      <label for="name">Name
        <input type="text" [(ngModel)]="name">
      </label>

      <p style="background-color: antiquewhite;">{{name}}</p>
      
</div> 
-->