<div style="display: flex; justify-content: center; gap: 10px;">
    <button (click)="storage()">Storage</button>
    <button (click)="display()">Display</button>
</div>


<div>
    <h1>Array</h1>

   

    <ul>
        <li *ngFor="let item of nm">
            <p>
                {{item}}
            </p>
        </li>
    </ul>

</div><br><br>



<div>
    <h1>List Array</h1>

   

    <ul>
        <li *ngFor="let msg of ls?.list">
            <p>
                {{msg.id}} {{msg.body}}
            </p>
        </li>
    </ul>

</div>
