
<router-outlet></router-outlet>



<h1>Templete Driven Form</h1>

<p style="text-align: center;">{{myForm.value | json}}</p>



<div class="div">
    
<!-- Form -->
    <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit()">
  


  <!-- First Name -->
  <label for="firstName">First Name:
    <input type="text" id="firstName" name="firstName" [(ngModel)]="person.firstName" #firstName="ngModel" required minlength="3" maxlength="31" forbiddenName><br>

     <!-- First Name error msg -->
  <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
      <div *ngIf="firstName?.errors?.['required']" class="err">
          First Name must be required
      </div>

      <div *ngIf="firstName?.errors?.['forbiddenName']" class="err">
        User name as "admin" not allowed
    </div>

      <div *ngIf="firstName?.errors?.['minlength']" class="err">
          First Name must be atlest 3 characters
      </div>

      <div *ngIf="firstName?.errors?.['maxlength']" class="err">
          First Name not more than 30 characters
      </div>
  </div>  
  </label>
  


  <!-- Last Name -->
  <label for="lastName">Last Name:
    <input type="text" id="lastName" name="lastName" [(ngModel)]="person.lastName" #lastName="ngModel" required minlength="3" maxlength="31"><br>

  <!-- Last Name error msg -->
  <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
      <div *ngIf="lastName?.errors?.['required']" class="err">
          Last Name must be required
      </div>

      <div *ngIf="lastName?.errors?.['minlength']" class="err">
          Last Name must be atlest 3 characters
      </div>

      <div *ngIf="lastName?.errors?.['maxlength']" class="err">
          Last Name not more than 30 characters
      </div>
  </div> 
  </label>
  

  <!-- Email -->
  <label for="email">Email:
    <input type="email" id="email" name="email" [(ngModel)]="person.email" #email="ngModel" required email><br>

  <!-- Email error msg -->
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div *ngIf="email?.errors?.['required']" class="err">
          Email must be required
      </div>

      <div *ngIf="email?.errors?.['email']" class="err">
          Invalid Email
      </div>
  </div> 
  </label>
  


<!-- Password -->
<label for="password">Password:
  <input type="password" id="password" name="password" [(ngModel)]="person.password" #password="ngModel" required minlength="8" maxlength="31" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]+$"><br>


  <!-- Password error msg -->
  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="errDiv">
    <div *ngIf="password?.errors?.['required']" class="err2">
      Password is required
    </div>

    <div *ngIf="password?.errors?.['minlength']" class="err2">
      Password must be at least 8 characters
    </div>

    <div *ngIf="password?.errors?.['maxlength']" class="err2">
      Password must not exceed 30 characters
    </div>

    <div *ngIf="password?.errors?.['pattern']" class="err2">
      Password must contain at least one capital letter, one small letter, and a number
    </div>

    <div *ngIf="password?.errors?.['pattern']" class="err2">
      No special characters allowed.
    </div>
  </div>
</label>

<!-- Confirm Password -->
<label for="confirmPassword">Confirm Password:
  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="person.confirmPassword" #confirmPassword="ngModel" required minlength="8" maxlength="31"><br>


  <!-- Confirm Password error msg -->
  <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="errDiv2">
    <div *ngIf="confirmPassword?.errors?.['required']" class="err">
      Confirm Password must be required
    </div>

    <div *ngIf="confirmPassword?.errors?.['passwordMismatch']" class="err2">
        
      Passwords do not match !!!
    </div>
  </div> 
</label>

  
  <!-- Submit Button -->
  <div class="button-container">

    <button [disabled]="myForm.form.invalid" type="submit" class="submit-btn">Submit</button>

  </div>



</form>

<br>
<br>

</div>
















<br>
<div style="text-align: center;">
    <button [routerLink]="['/s']">Go to Reactive Form</button>
<br>
<br>
<button [routerLink]="['child-fa']" id="firstChild">Child A</button>
<button [routerLink]="['child-fb']" id="firstChild">Child B</button>
</div>


