h1{
    text-align: center;
    color: rgb(9, 162, 62);
    font-weight: bolder;
    font-size: 3rem;
}

button{
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    font-weight:bolder;
    background-color: rgb(102, 76, 205);
}

#firstChild{
    color: rgb(24, 24, 24);
    background-color: bisque;
    margin: 1rem;
    width: 93px;
    height: 30px;
}