
<h1>Second Component</h1>

<div style="text-align: center;">

<button [routerLink]="['/']">Back to Second Component</button>
<br>
<br>
<button [routerLink]="['child-sa']" id="firstChild">Child A</button>
<button [routerLink]="['child-sb']" id="firstChild">Child B</button>

</div>


<router-outlet></router-outlet>

<!-- <br>
<br> -->

<!-- 
<div>
    <h1 class="head">Reactive Form</h1>

  <label for="color">Color
     <input type="text" [formControl]="color">
  </label>

  <p style="background-color: antiquewhite;">{{color.value}}</p>
  
</div>

<br>
<br>

<div>
    <h1 class="head">Template Driven Form</h1>

      <label for="name">Name
        <input type="text" [(ngModel)]="name">
      </label>

      <p style="background-color: antiquewhite;">{{name}}</p>
      
</div> 
-->


<div class="div">

  <div style="text-align: center;">
    <h1 class="head">Reactive Form</h1>
       {{myForm.value | json}}
  </div>
  <br>

<!-- Form -->
<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  


  <!-- First Name -->
  <label for="firstName">First Name:

    <input type="text" id="firstName" name="firstName" formControlName="firstName" required minlength="3" maxlength="31"><br><br>

     <!-- err/nonErr color -->
     <span class="spanC" *ngIf="!firstName?.errors">
      <div class="green-circle"></div>
     </span>
     <span class="spanC" *ngIf="firstName?.errors && firstName?.touched">
      <div class="red-circle"></div>
     </span>

     <!-- First Name error msg -->
  <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
      <div *ngIf="firstName?.hasError('required')" class="err">
          First Name must be required
      </div>

      <div *ngIf="firstName?.hasError('minlength')" class="err">
          First Name must be atlest 3 characters
      </div>

      <div *ngIf="firstName?.hasError('maxlength')" class="err">
          First Name not more than 30 characters
      </div>
  </div>  

  </label>
  






  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

  <input type="submit" value="Submit">
</form>

  <br>
<br>
</div>
 