
h1{
    text-align: center;
    color: rgb(9, 162, 62);
    font-weight: bolder;
    font-size: 3rem;
}

button{
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    font-weight:bolder;
    background-color: rgb(102, 76, 205);
    border-radius: 30px;
}
button:hover{
    background-color: rgb(153, 135, 225);
}

#firstChild{
    color: rgb(24, 24, 24);
    background-color: bisque;
    margin: 1rem;
    width: 93px;
    height: 30px;
}
#firstChild:hover {
    color: rgb(79, 75, 75);
    background-color: rgb(244, 195, 136);
}